<div class="place-page">
    <!-- Header -->
    <div class="flex justify-between items-center mb-4">
        <div>
            <h1 class="page-title text-2xl font-bold">Place Management</h1>
            <p class="page-subtitle text-sm">Manage places</p>
        </div>

        <button (click)="openUpsertModal()" class="btn-primary px-4 py-2 rounded-lg shadow">
            + Add Place
        </button>
    </div>

    <!-- Search -->
    <div class="card p-4 rounded-xl shadow mb-6">
        <input
            type="text"
            placeholder="Search place..."
            [(ngModel)]="search"
            class="search-input w-full px-4 py-2 rounded-lg outline-none"
        />
    </div>

    <div class="card rounded-xl shadow flex flex-col h-[calc(100vh-240px)]">
        <!-- TABLE -->
        <div class="overflow-auto flex-1">
            <table class="w-full min-w-225 text-left">
                <thead class="table-head text-sm sticky top-0 z-10">
                    <tr>
                        <th class="p-4">#</th>
                        <th class="p-4 w-75">Name</th>
                        <th class="p-4">Average Rating</th>
                        <th class="p-4">Total Reviews</th>
                        <th class="p-4">Status</th>
                        <th class="p-4">Updated At</th>
                        <th class="p-4">Category</th>
                        <th class="p-4 text-center">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @for (p of places; track $index) {
                        <tr class="table-row">
                            <td class="p-4">{{ $index + 1 }}</td>

                            <td class="p-4 font-medium category-name">
                                <div class="line-clamp-1">
                                    {{ p.name }}
                                </div>
                            </td>

                            <td class="p-4 text-muted">
                                {{ p.averageRating }}
                            </td>

                            <td class="p-4">
                                {{ p.totalReviews }}
                            </td>

                            <td class="p-4">
                                {{ p.status }}
                            </td>

                            <td class="p-4 text-muted">
                                {{ p.updatedAt | date }}
                            </td>

                            <td class="p-4 text-muted">
                                {{ p.category.name }}
                            </td>

                            <td class="p-4 flex justify-center gap-2">
                                <button
                                    (click)="openShowReviewModal(true)"
                                    class="btn-warning px-3 py-1 text-sm rounded"
                                >
                                    Reviews
                                </button>

                                <button
                                    (click)="openEditUpsertModal(p)"
                                    class="btn-warning px-3 py-1 text-sm rounded"
                                >
                                    Edit
                                </button>

                                <button
                                    (click)="openShowDeleteModal(true, p)"
                                    class="btn-danger px-3 py-1 text-sm rounded"
                                >
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- PAGINATION -->
        <lib-pagination
            [pageIndex]="pageIndex"
            [totalPages]="totalPages"
            (pageChange)="onPageChange($event)"
        ></lib-pagination>
    </div>

    <!-- Modal -->
    @if (showUpsertModal()) {
        <div class="modal-overlay fixed inset-0 flex items-center justify-center z-50">
            <app-upsert-place (closePopup)="closeUpsertModal()"></app-upsert-place>
        </div>
    }

    @if (showDeleteModal()) {
        <lib-question-cancel-dialog
            (close)="deletePlace($event)"
            [isSuccess]="false"
            [message]="'Delete Place'"
            [title]="'Do you want to delete this place?'"
        ></lib-question-cancel-dialog>
    }

    @if (showReviewModal()) {
        <app-place-review (close)="openShowReviewModal($event)"></app-place-review>
    }
</div>
