<div class="modal-overlay fixed inset-0 flex items-center justify-center">
    <div class="category-modal rounded-xl shadow-lg w-100 p-6">
        <h2 class="text-lg font-semibold mb-4">
            {{ categoryId ? 'Edit Category' : 'Add Category' }}
        </h2>

        <div class="space-y-4">
            <lib-text-input placeholder="Category Name" [formField]="addCategoryForm.name">
            </lib-text-input>

            <lib-text-area
                placeholder="Description"
                [formField]="addCategoryForm.description"
            ></lib-text-area>
        </div>

        <div class="flex justify-end gap-2 mt-6">
            <lib-button (click)="closeModal()" class="btn-secondary rounded-lg">
                Cancel
            </lib-button>

            <lib-button (click)="saveCategory()" class="btn-primary rounded-lg">Save</lib-button>
        </div>
    </div>
</div>
