<div class="place-form w-[90vw] max-w-6xl mx-auto rounded-2xl shadow-2xl overflow-hidden">
    <div class="max-h-[90vh] overflow-y-auto">
        <h1 class="form-title sticky top-0 z-10 text-3xl font-semibold border-b px-5 pt-5 pb-2">
            Add Place
        </h1>

        <div class="grid grid-cols-4 gap-1 p-5">
            <!-- CUSTOM COMPONENTS (ignored) -->

            <lib-text-input
                class="col-span-4"
                label="Name"
                [formField]="placeForm.name"
                placeholder=""
            ></lib-text-input>

            <lib-text-input
                class="col-span-3"
                label="Address"
                [formField]="placeForm.address"
            ></lib-text-input>

            <lib-text-input label="Country" [formField]="placeForm.country"></lib-text-input>

            <lib-text-input label="Phone" [formField]="placeForm.phone"></lib-text-input>

            <lib-text-input
                label="Opening Hours"
                [formField]="placeForm.openingHours"
            ></lib-text-input>

            <lib-text-input label="Website" [formField]="placeForm.website"></lib-text-input>

            <lib-select-box
                label="Category"
                [formField]="placeForm.categoryId"
                [options]="categories()"
                optionLabel="label"
                optionValue="value"
                value="Arrial"
            ></lib-select-box>

            <app-text-editor
                class="col-span-4"
                [formField]="placeForm.description"
            ></app-text-editor>

            <!-- ACTIONS -->
            <div class="col-span-4 flex justify-end gap-4 pt-6 form-footer">
                <lib-button
                    type="button"
                    (click)="handleClosePopup()"
                    class="btn-secondary rounded-lg"
                >
                    Cancel
                </lib-button>

                <lib-button
                    type="button"
                    (click)="save()"
                    class="btn-primary rounded-lg"
                >
                    Save
                </lib-button>
            </div>
        </div>
    </div>
</div>
