<header
    class="app-header flex items-center justify-end h-12 px-4 border-b transition-colors duration-300"
>
    <div class="flex items-center gap-4">
        <lib-button
            (click)="toggleTheme()"
            class="p-0 w-6 h-6 rounded-full transition duration-300 flex items-center justify-center bg-(--brightWhite)"
        >
            @if (isDark()) {
                <lib-icons iconName="moon" class="size-4 shrink-0"></lib-icons>
            } @else {
                <!-- Sun -->
                <lib-icons iconName="sun" class="size-4 shrink-0"></lib-icons>
            }
        </lib-button>

        <!-- Avatar -->
        <div class="relative avatar-menu">
            <img
                src="https://i.pravatar.cc/40"
                (click)="toggleMenu()"
                class="avatar-img w-9 h-9 rounded-full cursor-pointer ring-2 transition"
            />

            <!-- Dropdown -->
            @if (menuOpen) {
                <div
                    class="dropdown-menu absolute right-0 mt-3 w-44 origin-top-right rounded-lg shadow-lg transform transition-all duration-200 animate-dropdown"
                >
                    <lib-button class="dropdown-item w-full">Profile</lib-button>

                    <lib-button class="dropdown-item w-full">Settings</lib-button>

                    <lib-button (click)="logout()" class="dropdown-item dropdown-danger w-full">
                        Logout
                    </lib-button>
                </div>
            }
        </div>
    </div>
</header>
